html,
body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

code,pre {
    font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace;
}

pre {
    border-radius: 6px;
    padding: 6px;
    overflow-x: scroll;

    &[contenteditable="plaintext-only"] {
        border: 2px solid ;
    }
}

a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    &::first-letter {
        font-weight: bold;
    }
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

.section {
    margin: 0 auto 0;
    padding: 0 3.5%;
    max-width: 36rem;
    height: 100%;
}

.header {
    font-size: 2rem;
    text-align: center;
}

.title {
    font-size: 2rem;
}

.mini {
    font-size: 0.5rem;
}

.tagline {
    ul,p {
        margin: 0;
    }
}

.container {
    padding-bottom: 1rem;
}

.run-motoko {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row-reverse;

    .run-button {
        color: white;
        background-color: black;
        border: none;
        border-radius: 15px;
        padding: 0.5rem 1rem;
    }

    .listingblock {
        overflow-x: scroll;
        pre {
            color: green;
            margin: 0;
            padding: 0 6px;

            &.repl-error {
                color: red;
            }
        }
    }
}
