.title {
    margin: 1rem;
}

@media (min-width: 770px) {
    .thumbnail {
        width: 10rem;
        height: auto;
    }
    .listItem {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        margin: 0 0 1.25rem;
    }
    .line {
        display: flex;
    }
}