{% extends "base.html" %}

{% block content %}

<h1 class="title">latest posts</h1>
<ul>
	{% set posts = get_section(path="posts/_index.md") %}
	{% for page in posts.pages | sort(attribute="date")| reverse | slice(end=4) %}
  <li>
		<p>
			<a href="{{ page.permalink | safe }}">{{ page.title }}</a>
			<span class="mini">[{{ page.date }}]</span>
		</p>
  </li>
	{% endfor %}
	<li><p><a href="/posts/">...</a></p></li>
</ul>

<h1 class="title">social networks</h1>
<ul>
  {% for sns in config.extra.sns %}
  <li>
    <a href="{{ sns.url }}">{{ sns.service }}</a>
  </li>
  {% endfor %}
</ul>

<h1 class="title">about me</h1>
<a href="/about/">here</a>

<h1 class="title">motoko playground</h1>
<div class='editor'><pre id="editor" class="motoko" contenteditable="plaintext-only" spellcheck="false"><code class="language-motoko" data-lang="motoko">import Debug "mo:base/Debug";
Debug.print("Hello Motoko!");</code></pre></div>

{% endblock content %}
